<% layout("/layout/navbar.ejs") -%>
<head>
    <link rel="stylesheet" href="/edit.css">
</head>
 <div class="main-container">

    <div class="content">
        <h2>Edit your place</h2>
        <form method="post" action="http://localhost:8080/listing/<%=place._id%>" id="myForm" novalidate class="needs-validation">
            <div class="title-div box">
                <p>Title</p>
                <input type="text" name="title" value="<%= place.title %>" class="form-control" required>
            </div>
             <div class="description-div box">
                <p>Description</p>
                <textarea name="description" placeholder="<%= place.description %>" rows="3" cols="3" class="form-control" required></textarea>
            </div>
            <div class="image-div box" >
                <p>Image Link</p>
                 <input type="text" name="url" value="<%= place.image.url %>" class="form-control" required>
            </div>
            <div class="price-country-div">
                <div class="price-div box">
                    <p>Price</p>
                    <input type="text" name="price" value="<%= place.price %>" class="form-control" required>
                </div>
                <div class="country-div box">
                    <p>Country</p>
                    <input type="text" name="country" value="<%= place.country%>" class="form-control" required>
                </div>
                 </div>
                <div class="location-div box ">
                    <p>Location</p>
                    <input type="text" name="location" value="<%= place.location %>" class="form-control" required>
                </div>
        </form>
        <button id="add-btn" onclick="document.getElementById('myForm').requestSubmit()">Edit My Listing</button>
    </div>
 </div>
<script src="/js/script.js"></script>