
<% layout("/layout/navbar.ejs") -%>
<head>
     <link rel="stylesheet" href="/listing.css">
</head>
 <body>
 <h1 align = "center">All Content</h1>
 <br>
 <div class="content">
          <% let i = 0%>
        <% while(i < properties.length) { %> 
            <div class="row">
           <% let j = i; %> 
           <%  while(  i < properties.length && i < j + 3){ %> 
                <div class="col">
                    <img src="<%= properties[i].image.url%>" alt="Image" class="image" onclick="window.location.href = 'http://localhost:8080/listing/<%=properties[i]._id%>'">
                    <div class="name"><%= properties[i].title%></div>
                     <div class="price">$<%= properties[i].price%>/night</div>
                </div>
                <% i++; %>
           <% } %> 
            </div>
       <% } %> 
 </div>
</body>
 <script>
    let addbtn = document.querySelector(".add-place");
    addbtn.addEventListener("click" , ()=>{
        window.location.href = 'http://localhost:8080/listing/add';
    })
    let image = document.querySelector(".image");
    image.addEventListener("click" , ()=>{
        // window.location.href = 'http://localhost:8080/listing/<%= %>'

    })
    let home = document.querySelector(".home");
    let all_list = document.querySelector(".all-listing");
    home.addEventListener("click" , ()=>{
        window.location.href = "http://localhost:8080/listing";
    });
     all_list.addEventListener("click" , ()=>{
        window.location.href = "http://localhost:8080/listing";
    });
 </script>
