
<% layout("/layout/navbar.ejs") -%>
<head>
     <link rel="stylesheet" href="/listing.css">
</head>
 <h1 align = "center">All Content</h1>
<!-- flash messages -->
 <!-- <h3> <%= createdMsg[0] %> 
     <%= deletedMsg[0] %>
 </h3> shifted to the boilder plate directly--> 
 <br>
 <div class="content">
          <% let i = 0%>
        <% while(i < properties.length) { %> 
            <div class="row">
           <% let j = i; %> 
           <%  while(  i < properties.length && i < j + 3){ %> 
                <div class="col">
                    <img src="<%= properties[i].image.url%>" alt="Image" class="image" onclick="window.location.href = 'http://localhost:8080/listing/<%=properties[i]._id%>'">
                    <div class="name"><%= properties[i].title%></div>
                     <div class="price">$<%= properties[i].price%>/night</div>
                </div>
                <% i++; %>
           <% } %> 
            </div>
       <% } %> 
 </div>
